<!-- <div class="modal d-block" id="modal-confirmation" tabindex="-1"
  aria-labelledby="modal-confirmation">
  <div class="modal-dialog" role="document">
    <div class="modal-content shadow-max border border-info active">
      <div class="modal-header">
        <h3 class="modal-title text-info" id="annulation">
          <h3 class="modal-title">{{ title }}</h3>
        </h3>
        <button type="button" class="close icon" (click)="dismiss()" aria-labelledby="Close">
          close
        </button>
      </div>
      <div class="modal-body">
        <p><b>{{ message }}</b></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline btn-round" (click)="accept()">Oui</button>
        <button type="button" class="btn btn-outline btn-round" (click)="decline()">Non</button>
      </div>
    </div>
  </div>
</div> -->
<div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>
  <!-- input for avoid autofocus on button (by default the focus is on the first focusable element within modal) -->
  <input type="text" style="display:none" />
  <button type="button" class="close" aria-label="Close" (click)="decline()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  {{ message }}
</div>
<div class="modal-footer">
  <button type="button"class="btn btn-danger" (click)="decline()">non</button>
  <button type="button"class="btn btn-primary" (click)="accept()">oui</button>
</div>
