<div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>
  <!-- input for avoid autofocus on button (by default the focus is on the first focusable element within modal) -->
  <input type="text" style="display:none" />
  <button type="button" class="close" aria-label="Close" (click)="onClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" [ngClass]="{'text-primary': !isError, 'text-danger': isError}">
  {{ message }}
</div>
<div class="modal-footer">
  <button type="button"class="btn btn-primary" (click)="onClose()">OK</button>
</div>
