<ng-container class="title">
    <h1>Home</h1>
</ng-container>

<ng-container class="contents">
  Bonjour page-home content
  <button type="button" (click)="openModale()">Test</button>
</ng-container>
