<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarExample01"
      aria-controls="navbarExample01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarExample01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let item of navItems">
          <a *ngIf="item.route" class="nav-link" [routerLink]="item.route" routerLinkActive="active" >{{ item.label }}</a>
          <a *ngIf="item.href" class="nav-link" [href]="item.href" routerLinkActive="active" >{{ item.label }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="openModalInfo()">Modal Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="openModalError()">Modal Error</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="openModalConfirmError()">Modal Confirm Error</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="openModalConfirm()">Modal Confirm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->

<!-- Jumbotron -->
<div class="p-5 text-center bg-light">
  <h1 class="mb-3">{{ title }}</h1>
  <h4 class="mb-3">Generate your base app and start coding !</h4>
  <!-- <a class="btn btn-primary" href="" role="button">Call to action</a> -->
</div>
<!-- Jumbotron -->
