<app-ui>
  <app-header class="header" [title]="title"></app-header>
  <!-- <app-nav class="nav"></app-nav> -->

  <router-outlet class="contents"></router-outlet>
  <app-footer class="footer"></app-footer>
</app-ui>
<!--  -->
